.hr-title{
    width: 690px;
    height: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 132, 255);
    margin-bottom: 40px;
}

.column {
    width: 50%;
}

.column h3 {
    font-size: 28px;
    padding-bottom: 15px;
    font-weight: 500;
}